.user-displayed-photos{
  max-width: 100%;
  margin-bottom:8%;
}
.fixed-bottom{
  padding-top: 1%;
  background-color:whitesmoke;
}

.user-displayed-photo{
  max-width: 100%;
  margin-bottom:10px;
}
.user-photo{
  width: 30%;
  text-align: center;
}

#user-name{
  text-align: center;
}

.user-unified-details{
    font-weight : bold;
}


.btn{
  margin-top:10px;
}
.img-fluid{
  margin-bottom:10px;
}

.col-md, .title {
  margin-top:10px;
  margin-bottom:20px;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.vertical-align-photo-text{
  vertical-align: middle;
}

.nav-bar{
  position: sticky;
}

div.photo-block {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid gray;

}
.input-group label {
  display: inline-block;
  width: 200px;
  text-align: right;
}
.input-group{
  margin-bottom: 0.5em;
}

div.title-block {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #eeeeee;
}
#title {
  font-size: 300%;
  text-decoration: none;
  color: #444444;
  font-family: sans-serif;
  margin-bottom: 0;
}
#subtitle {
  font-size: 120%;
  font-style: italic;
  color: #555555;
  font-family: monospace;
}

div.navigation > a {
  color: white;
  font-size: 120%;
  background-color: #555555;
  font-family: monospace;
  text-decoration: none;
  display: inline-block;
  min-width: 150px;
}
