/*Photo Upload*/

.uploaded-photo{

  margin-bottom: 8%;
  margin-left: 8%;
  margin-right: 8%;

}
/*User Profile*/
.user-displayed-photos {
  max-width: 100%;
  margin-bottom: 8%;
}
.fixed-bottom {
  background-color: whitesmoke;
}
#user-social-details-column a {
  color: black;
}
.user-displayed-photo {
  max-width: 100%;
}
.user-photo {
  width: 30%;
  text-align: center;
  margin-right: 5%;
}
#user-name {
  text-align: center;
}

.user-unified-details {
  font-weight: bold;
}

/*This is used for all the titles across pages*/
.col-md,
.title {
  margin-top: 2%;
  margin-bottom: 2%;
}

/*Used for index.html*/
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

div.photo-block {
  margin: auto;
  text-align: center;
  border: 1px solid gray;
}

/*This is for the navbar*/

.nav-bar {
  position: sticky;
}

div.title-block {
  text-align: center;
  background-color: #eeeeee;
}
#title {
  font-size: 300%;
  text-decoration: none;
  color: #444444;
  font-family: sans-serif;
  margin-bottom: 0;
}
#subtitle {
  font-size: 120%;
  font-style: italic;
  color: #555555;
  font-family: monospace;
}
